.file.has-name{ **@css_args, data: { controller: 'upload-field-component' } }
  %label.file-label
    = @f.file_field @field_name, class: 'file-input', 
      data: { upload_field_component_target: 'fileInput', action: 'change->upload-field-component#updateFileName' }
    %span.file-cta
      %span.file-icon
        %span.fas.fa-upload
      %span.file-label= @file_label
    - if @show_file_name
      %span.file-name{ data: { upload_field_component_target: 'fileName' }}
        = storage&.filename if storage&.attached?