.file.has-name{ **@css_args, data: { controller: 'upload-field-component' } }
  %label.file-label
    = @f.file_field @field_name, class: 'file-input', accept: @accept, multiple: @multiple,
      data: { upload_field_component_target: 'fileInput', action: 'change->upload-field-component#updateFileName' }
    %span.file-cta
      %span.file-icon
        %span.fas.fa-upload
      %span.file-label= @file_label
    - if @show_file_name
      %span.file-name{ data: { upload_field_component_target: 'fileName' }}
        - if storage
          - if multiple_attachment?(storage)
            = storage.map(&:filename).join(', ')
          - else
            = storage&.filename if storage.attached?